body {
    background: url('../img/backgrond.png') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ===========================
        header style 
=============================*/

header .navbar {
    padding: 1.2rem 0 1rem;
}

header .navbar .logo {
    width: 100px;
}

header .navbar .logo img {
    max-width: 100%;
}

header .navbar .slogan {
    width: 300px;
}

header .navbar .slogan img {
    max-width: 100%;
}

header .showcase {
    position: relative;
    margin-bottom: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

header .showcase a {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 300px;
}

header .showcase a img {
    max-width: 100%;
}

header .showcase .showcase-slider .show-item {
    width: 100%;
    height: 500px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ====================================
        daily-dish area style
=====================================*/

.daily-dish .press-btn {
    width: 100%;
    height: 60px;

    background: url('../img/red-0.png') center no-repeat;
    background-size: cover;

    margin-bottom: .5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.daily-dish .press-btn a {
    display: inline-block !important;

    color: #fff;

    text-decoration: none;

    font-size: 2rem;
    font-weight: bold;
}

/* ==============================
        form area style
===============================*/


.form-area .form-box {
    position: relative;

    color: #496162;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    background: rgba(255, 255, 255, .7);

    padding: 3rem 0;
    border-radius: 8px;
}

.form-area .form-box:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 1px;
    height: 55%;

    background: #000;
}

.form-area .form-box h2 {
    display: inline-block !important;

    background: #496162;
    color: #fff;
    width: 200px;
    height: 40px;
    line-height: 40px;
    
    text-align: center;
    font-weight: normal;
    font-size: 1.4rem;

    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.form-area .form-box > div {
    width: 50%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-area .form-box form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    margin-bottom: .4rem;
}

.form-area label,
.form-area input,
.form-area textarea {
    display: inline-block;

    font-size: .6rem;
    font-weight: bold;
}

.form-area label {
    margin-right: 1.5rem;
}

.form-area input[type='text'], 
.form-area input[type='email'],
.form-area textarea {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;

    width: 200px;
    padding: .1rem .3rem;

    background: none;
    outline: none;
}

.form-area div.right-input {
    margin-left: auto;
}

/* =======================================
      create custom input type radio
=========================================*/

.form-area div.right-input input[type='radio'] {
    display: none;
}

.form-area div.right-input label {
    position: relative;
}
.form-area div.right-input label:after {
    content: '';
    position: absolute;
    top: 60%;
    left: -15px;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 12px;
    height: 12px;

    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.form-area div.right-input label:before {
    content: '';
    position: absolute;
    top: 60%;
    left: -12px;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 6px;
    height: 6px;

    background: transparent;
    border: 1px solid #999;
    border-radius: 50%;

    z-index: 1;
    opacity: 0;
}

.form-area div.right-input input:checked + label:before {
    opacity: 1;
}

.form-area select  {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;

    width: 45px;
    padding: .1rem 0;
    margin-left: 5px;

    background: none;
    outline: none;    
}

.form-area div.date {
    position: relative;
}

.form-area div.date i {
    position: absolute;
    top: 45%;
    right: 2px;

    display: inline-block;

    pointer-events: none;

    font-size: .9rem;

    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
}

.datetimepicker  {
    padding: 1rem;
    color: #496162;
}

.form-area .flex-radio-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-area .flex-radio {
    margin: -.5rem 0 0 2.5rem !important;
}

/* =================================
        submit button style
===================================*/

.form-area form button {
    display: block;

    background: #b40700;
    color: #fff;

    font-size: .9rem;

    width: 100px;
    height: 30px;
    line-height: 30px;

    margin-left: auto;
    margin-top: 1rem;
    
    outline: none;
    border: none;
    border-radius: 7px;
}

/* ================================ 
        end form area style
=================================*/

/* ============================== 
        footer style 
================================*/

footer .copyRights {
    background: rgba(255, 255, 255, .7);

    margin: .5rem 0;
    padding: 1.2rem 0;

    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

footer .copyRights p {
    margin: 0;
    padding: 0;

    font-size: .9rem;
    font-weight: bold;
    color: #496162;
}


/* ===================================
        start menu page style 
 ===================================*/

.heading-menu-container .heading-menu {
    background: url('../img/red.png') center no-repeat;
    background-size: 100% 100%;

    border-radius: 5px;
    height: 100px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.heading-menu-container .heading-menu a {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    pointer-events: none;
}

/*  ===============================
            slider style
==================================*/

.slider-section .flex-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.slider-section .flex-slider .slider-menu {
    position: relative;
    overflow: hidden;
    
    border-radius: 15px;
    
    width: 350px;
    height: 230px;
    
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    
    margin: 2rem 0 .5rem;
}

.slider-section .flex-slider .slider-menu button.controllers {
    position: absolute;
    bottom: 12px;
    z-index: 6;

    color: #fff;
    background: none;

    outline: none;
    border: none;
}

.slider-section .flex-slider .slider-menu button.slick-prev {
    left: 20px;
}

.slider-section .flex-slider .slider-menu button.slick-next {
    right: 20px;
}

.flex-slider .slider-menu .daily-dish {
    position: relative;
    width: 350px;
    height: 230px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: url('../img/slider-footer.png'), url('../img/daily-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 45px, cover;
    background-position: bottom, center;
}

.flex-slider .slider-menu .daily-dish:after {
    content: '';
    position: absolute;
    top: 42%;
    left: 40%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 1px;
    height: 50%;

    background: #000;
}
.flex-slider .slider-menu .daily-dish .logo {
    width: 70px;
    margin-top: -2rem;
}
.flex-slider .slider-menu .daily-dish .logo img {
    max-width: 100%;
    height: auto;

    -o-object-fit: cover;
    object-fit: cover;
}
.flex-slider .slider-menu .daily-dish .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: -2rem;
    color: #496162;
}
.flex-slider .slider-menu .daily-dish .details h4 {
    font-size: 2.5rem;
}
.flex-slider .slider-menu .daily-dish .details h5 {
    font-weight: normal;
    font-size: 1.5rem;
}
.flex-slider .slider-menu .daily-dish .details h5 span {
    color: #b40700;
    font-size: 2rem;
    font-weight: bold;
}

.slider-section .flex-slider .slider-menu .slide-img {
    position: relative;

    width: 350px;
    height: 230px;

    background: url('../img/slider-footer.png'), url('../img/slider.png');
    background-repeat: no-repeat;
    background-size: 100% 45px, cover;
    background-position: bottom, center;
}

.slider-section .flex-slider .slider-menu .slide-img .caption {
    position: absolute;
    bottom: 0;
    z-index: 55;

    width: 100%;
    text-align: center;
    line-height: 35px;

    color: #fff;
    font-size: 1.2rem;
}

/* ================================
        end menu page style 
==================================*/

/* =============================
        some media query
==============================*/

@media (max-width: 1199px) {
    .slider-section .flex-slider .slider-menu {
        width: 300px;

        -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    }
}

@media (max-width: 992px) {
    .heading-menu-container .heading-menu a{
        font-size: 1.2rem;
    }
    .flex-slider .slider-menu .daily-dish {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .slider-section .flex-slider .slider-menu {
        -ms-flex-preferred-size: 330px;
        flex-basis: 330px;

        width: 330px;
    }
}

@media (max-width: 767px) {
    header .navbar .logo {
        width: 80px;
    }
    header .navbar .slogan {
        width: 220px;
    }
    header .showcase .showcase-slider .show-item {
        height: 300px;
    }
    header .showcase a {
        width: 250px;
        right: 0;
    }
    .daily-dish .press-btn a {
        font-size: 1.5rem;
    }
    .form-area .form-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .form-area .form-box:after {
        content: none;
    }
    .form-area .form-box .left-block {
        width: 100%;
        padding-bottom: 2rem;
    }
    .form-area .form-box .right-block {
        padding-top: 2rem;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
    .heading-menu-container .heading-menu a{
        font-size: .9em;
    }
    .slider-section .flex-slider .slider-menu button.controllers {
        bottom: 9px;
        font-size: 1.5rem;
    }
    .slider-section .flex-slider {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .slider-section .flex-slider .slider-menu {
        width: 350px;
        -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    }
}

@media (max-width: 525px) {
    .slider-section .flex-slider .slider-menu button.controllers {
        bottom: 12px;
        font-size: 1.2rem;
    }
}